extends layout

block content
  div(id="dialog-form" title="Subir un nuevo archivo")
    p(class="validateTips").
      Elige un archivo a subir
    form(enctype="multipart/form-data", action= "/fileUpload", method="post", id="fileUploader", target="fileResponseReceiver")
      input(type="hidden", name="fileUserName", id="fileUserName", value="")
      input(type="file" name="file")
    center
      iframe(id="fileResponseReceiver" name="fileResponseReceiver" width="100%" height="100px" scrolling="no" src="")
  div(class="container" id="mainContent")
    div(id="chat")
      div(id="chatContent" class="panel panel-primary")
        div(class="panel-heading")
          h3(class="panel-title").
            Chat Principal
        div(id="textPanel")
          div(id="chatLog")
          div(id="textArea")            
            hr
            table(align="left")
              tr
                td(colspan="2")
                  b.
                    A todos
              tr
                td
                  b.
                    Mensaje
                td
                  input(id='content', placeholder='Contenido publico')
              tr                
                td
                  button(id='sendMessage' class="btn btn-success btn-sm").
                    Enviar
                td
                  button(id="openUploadDialog" class="btn btn-warning btn-sm").
                    Subir un archivo
            table(align="right")
              tr
                td(colspan="2")
                  b.
                    Mensaje privado
              tr
                td
                  b.
                    Usuario
                td
                  input(id='to', placeholder='Nombre de usuario')
              tr
                td
                  b.
                    Mensaje
                td
                  input(id='privateContent', placeholder='Contenido privado')
              tr
                td
                td
                  button(id='sendPrivate' class="btn btn-success btn-sm").
                    Enviar
      div(id="info")
        div(class="panel panel-success")
          div(class="panel-heading")
            h3(class="panel-title").
              Usuarios Conectados
          div(id="users" class="panel-body")
          div(class="panel-heading")
            h3(class="panel-title").
              Archivos Recientes
          div(id="filePanel" class="panel-body")
        div(class="panel panel-warning")
          div(class="panel-heading")
            h3(class="panel-title" id="titleReceiver").
              Vista Previa
          div(id="preview" class="ui-droppable").
            Arrastra la liga para ver el contenido deseado.
          div(id="previewContent")