extends layout

block content
  h1
    'Simple web chat' 
  hr
  h4
    'usuarios conectados'
  ul(id='users')
  hr
  h4
    'chat'
  div(id='chatContent')
  hr
  h4
    'Opciones'
  b.
    A todos
  input(id='content', placeholder='contenido publico')
  button(id='sendMessage').
    Enviar
  hr
  b.
    Mensaje privado
  input(id='to', placeholder='nickname')  
  input(id='privateContent', placeholder='contenido privado')
  button(id='sendPrivate').
    Enviar
  hr