extends layout

block content
  h1
    'tutoronline' 
  div(id='chatContent')
  hr
  b.
    A todos
  input(id='content', placeholder='contenido publico')
  button(id='sendMessage').
    Enviar
  hr
  b.
    Mensaje privado
  input(id='to', placeholder='nickname')  
  input(id='privateContent', placeholder='contenido privado')
  button(id='sendPrivate').
    Enviar
  hr
  script.
    $(document).ready(function(){
      // for testing purposes
        var socket = io.connect();
        var currentUser = $("#idUser").val()||('pepo'+Math.random());
        function emitMessage(){
          var data = {};
          data.user = currentUser;
          data.content = $("#content").val()||'';
          $("#content").val('');
          socket.emit('message',data);
        }
        function emitPrivateMessage(){
          var data = {};
          data.user = currentUser;
          data.to = $("#to").val();
          data.content = $("#privateContent").val()||'';
          $("#content").val('');
          socket.emit('privateMessage',data);
        }
        //
        socket.on('syncMessages',function(data){
          var len=data.length
          for(var i=0; i < len;i++){
            $("#chatContent").append("<p><strong>"+data[i].user+":</strong> "+data[i].content+"</p>");
          }
          console.log(data);
        });
        //
        socket.on('connect',function(){
          socket.emit('register',{
            user:currentUser,
            socketId:socket.id
          });
          socket.emit('getLastChat',null);
        });
        //
        socket.on('image', function(data){          
          if((currentUser!=data.user)){
            board.saveShape(LC.JSONToShape(data.images));
          }
        });
        socket.on('incommingMessage', function(data){
          $("#chatContent").append("<p><strong>"+data.user+":</strong> "+data.content+"</p>");
        });
        socket.on('receivePrivate', function(data){
            $("#chatContent").append("<p><strong>[PRIVATE]-"+data.user+":</strong> "+data.content+"</p>");
          });
        
        //Chat Stuff
        $(document).on("click",'#sendMessage', function(e) {
            emitMessage();
        });    
        $(document).on("click",'#sendPrivate', function(e) {
            emitPrivateMessage();
        });    
        $(document).on("keyup",'#content', function(e) {
          if (e.keyCode == 13) {
            emitMessage();
            }
        });
      });