doctype html
html
  head
    title='Simple Chat Example'    
    script(src="/javascripts/jquery/dist/jquery.min.js")
    script(src="/javascripts/react/react-with-addons.min.js")
    script(src="/javascripts/literallycanvas/ie_customevent.js")
    script(src="/javascripts/literallycanvas/literallycanvas.min.js")
    script(src="/socket.io/socket.io.js")
  body
    block content
  script(src="/javascripts/app.js")