doctype html
html
  head
    title='Tutor Online Alpha'
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/global.css')
    link(rel='stylesheet', href='/stylesheets/literallycanvas.css')
    link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-generic')
    script(src="/javascripts/jquery/dist/jquery.min.js")
    script(src="/javascripts/react/react-with-addons.min.js")
    script(src="/javascripts/literallycanvas/ie_customevent.js")
    script(src="/javascripts/literallycanvas/literallycanvas.min.js")
    script(src="/socket.io/socket.io.js")
  body
    block content